<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <tab id="joana" translate="label" sortOrder="1">
       <label>Joana Extension</label>
    </tab>

    <section id="emailsection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">

        <label>Update Order Email</label>
        <class>separator-top</class>
        <tab>joana</tab>
        <resource>Joana_Test::emailsection</resource>

        <group id="email_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Email Settings</label>
            <field id="customer_email_changed" translate="label comment" type="select" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Template For Order Email Update</label>
                <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
            </field>
        </group>

        <group id="customer_create" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Settings</label>

            <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Customer Creation for Guest Orders</label>
                <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
            </field>

            <field id="customer_create_email" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Template For New Customer</label>
                <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>

                <depends>
                    <field id="enable">1</field>
                </depends>
            </field>
        </group>

    </section>
 </system>
</config>
